
<!doctype html>
<html lang="en">
<div class="page-bg"></div>
<!-- <div class="bg-secondary"> -->
  <head>
    {% load static %}
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="21st Virtual Air Group Home Page - a DCS community">
    <meta name="author" content="Roach">
    <link rel="icon" href="../../../../favicon.ico">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>{% block title %}21st Virtual Air Group{% endblock %}</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    {% block css %}{% endblock %}
  </head>
{% block bodycss %}
    <style>
.page-bg {
  height: 100%;
    /* The image used */
    background-image: url("/static/hornetsunrise.png");
    filter: saturate(70%);
    filter: blur(1px);
    /* Full height */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>
{% endblock %}
    <header>

      {% block navbar %}
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static '21logo_sm.png' %}" width=50> 21st Virtual</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            {% block navhome %}<li class="nav-item">{% endblock %}
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% block navlog %}<li class="nav-item">{% endblock %}
              <a class="nav-link" href="{% url 'pilot_log' %}">Logbook</a>
            </li>
            {% block navleader %}<li class="nav-item">{% endblock %}
              <a class="nav-link" href="{% url 'pilot_stats' %}">Leaderboard</a>
            </li>
            {% block navrecruit %}<li class="nav-item">{% endblock %}
              <a class="nav-link disabled" href="#">Recruiting</a>
            </li>
            {% block navuser %}
            {% if request.user.is_staff %}
            {% block navchiefs %}
            <div class="dropdown">
              <li class="nav-item active">
            {% endblock %}
                <a class= "nav-link dropdown-toggle" id="chiefsDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chiefs
                </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'chiefs_log' %}">Chief's Logbook</a>
              </div>
              </li>
            </div>
            {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto text-right">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">| Logout</a>
            </li>
            {% block navprofile %}
            <li class="nav-item">
            {% endblock %}
              <a class="nav-link" href="{% url 'profile' %}">| {{user.username}} Profile</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">| Login or Signup</a>
            </li>
            {% endif %}         
          </ul>
          {% endblock %}
        </div>
      </nav>
      {% endblock %}
      <br><br><br><br>
    </header>
    <div class="content">
    {% block content %}{% endblock %}
    </div>
    </div>
<style>
.content {
  min-height: calc(100vh - 70px);
}
.footer {
  height: 70px;
}
</style>
      <footer id="footer" class="footer bg-dark text-white mt-2 text-center" style="width:100%">
        <p>&copy; 2018 21st Virtual Air Group <br> Current Timezone: {{TIME_ZONE}} </p>
      </footer>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% block js %}{% endblock %}
  </body>
  </div>

</html>
