{% extends "base.html" %}
{% load static %}
{% block navhome %}
<li class="nav-item active">
{% endblock %}
{% block content %}

    <main role="main" class="inner cover">
        <h3 class="cover-heading text-white">Home of The</h3>
        <h1 class="cover-heading text-white">21st Virtual Air Group</h1>
        {% if user.is_authenticated %}
             <p class="text-white">Hello, {{ user.username }}</p>
        {% else %}
             <a class="text-white" href="{% url 'login' %}">Log in</a>
        {% endif %}
        <br>
          <img class="img-fluid" alt="Responsive image" src="{% static '21logo.png' %}" width=400>
        <!-- FOOTER -->
      </body>

{% endblock %}