{% extends "base.html" %}
{% load static %}
{% block content %}
    <main role="main" class="inner cover">
        <h2 class="text-white">Login</h2>
        <form class="text-white" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
        </form>
         <br>
        <p><strong>-- OR --</strong></p>
        <p class="mb-5">
        <a class="text-white" href="{% url "social:begin" "google-oauth2" %}"><u>Login with Google</u></a><br>
        </p>
        <br>
        <p><strong>-- OR --</strong></p>
        <a class="text-white" href="{% url 'signup' %}">Signup</a>

{% endblock %}  
