{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="card bg-light ml-3 mt-2" style="max-width: 300px;">
        <h2 >Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
        </form>
         <br>
        <p><strong>-- OR --</strong></p>
        <p class="mb-5">
        <a href="{% url "social:begin" "google-oauth2" %}"><u>Login with Google</u></a><br>
        </p>
        <br>
        <p><strong>-- OR --</strong></p>
        <a href="{% url 'signup' %}">Signup</a>
</div>
{% endblock %}  
