{% extends 'base.html' %}
{% block navprofile %}
<li class="nav-item active">
{% endblock %}
{% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card bg-light mx-auto mb-3" style="max-width: 400px;">
				<form method="post">
					<h2>User Info</h2>
					<table class="table table-responsive text-left" style="width: 600px;">
						{% csrf_token %}
						{{userform.as_table}}
						{% if pilotform.callsign == None %}
						<tr><colgroup>Your account is inactive, please contact an officer on Discord.</colgroup></tr>
						{% endif %}
						{{pilotform.as_table}}
						{{userprofileform.as_table}}
					</table>
					<br>
					<button class="btn btn-dark float-left ml-3" type="submit">Submit User Changes</button>
					<br>
					{{change}}
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}