{% extends 'base.html' %}
{% block navprofile %}
<li class="nav-item active">
{% endblock %}
{% block content %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card bg-light mx-auto mb-3" style="max-width: 400px;">
				<form method="post">
					<h2>User Info</h2>
					<table class="table table-responsive text-left" style="width: 600px;">
						{% csrf_token %}
						{{userform.as_table}}
						{% if pilotform.callsign == None %}
						<tr><colgroup>Your account is inactive, please contact an officer on Slack.</colgroup></tr>
						{% endif %}
						{{pilotform.as_table}}
						{{userprofileform.as_table}}
						{{change}}
					</table>
					<br>
					<button class="btn btn-dark float-left ml-3" type="submit">Submit User Changes</button>
					{% if user.is_authenticated and not backends.associated %}
					<a class="float-right" href="{% url "social:begin" "google-oauth2" %}"><u>Login with Google</u></a><br>
					{% elif user.is_authenticated and backends.associated %}
					<p class="text-center">Account is linked with Google!</p>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}
<!-- 
<form action="{% url 'set_timezone' %}" method="POST">
    {% csrf_token %}
    <label for="timezone">Time zone:</label>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Set"> -->