*.log
*.pot
*.pyc
*.ipynb
*.lua
slmis/
slmod/
.ipynb_checkpoints/
.metadata/
willshousesync.txt
stats/processed_slmis.txt
stats/finishedfiles.txt
willshousesync.bat
__pycache__/
local_settings.py
db.sqlite3
lua/src/config.lua
stats/logs/
notebooks/