*.log
*.pot
*.pyc
*.ipynb
*.lua
slmis/*.json
.ipynb_checkpoints/
.metadata/
willshousesync.txt
stats/processed_slmis.txt
stats/finishedfiles.txt
willshousesync.bat
finishedfiles.txt
processed_slmis.txt
__pycache__/
local_settings.py
db.sqlite3
media