*.log
*.pot
*.pyc
*.ipynb
.venv/
.vscode/
static/
slmis/
slmod/
.ipynb_checkpoints/
.metadata/
willshousesync.txt
stats/processed_slmis.txt
stats/finishedfiles.txt
willshousesync.bat
__pycache__/
local_settings.py
db.sqlite3
stats/logs/
notebooks/