<!-- pilot_stats.html-->
<!doctype html>
<html lang="en">
<div class="bg-secondary">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="21st Virtual Air Group Home Page - a DCS community">
    <meta name="author" content="Roach">
    <link rel="icon" href="../../../../favicon.ico">

    <title>21st Virtual Air Group</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom styles for this template -->
  </head>
  <body class="bg-dark">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static '21logo.png' %}" width=50> 21st Virtual</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'stats' %}">Logbook</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Recruiting</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <main>
    <div class="container">
      <h2>Stats</h2>
      <form action="{% url 'pilot_stats' %}">
        <div class="row">
          <div class="col">
            <h3>Group by</h3>
            <select name='group_by' class="custom-select custom-select-lg mb-3">
              <option selected value='pilot'>Pilot</option>
              <option value='aircraft'>Aircraft</option>
            </select>
            <select name='group_by2' class="custom-select custom-select-lg mb-3">
              <option selected value='None'>None</option>
              <option value='pilot'>Pilot</option>
              <option value='aircraft'>Aircraft</option>
            </select>
          </div>
          <div class="col">
            <h3>Filter by</h3>
            <select name='clientid' class="custom-select custom-select-lg mb-3">
              <option selected value = 'all'>Pilot (All)</option>
              {% for pilot in pilots.all %}
              <option name='clientid' value="{{ pilot.clientid }}">{{ pilot }}</option>
              {% endfor %}
            </select>
            <select name='date' class="custom-select custom-select-lg mb-3">
              <option selected value = 'all'>Date (All)</option>
              <option name='date' value='week'>Last Week</option>
              <option name='date' value='month'>Last Month</option>
              <option name='date' value='quarter'>Last 90 days</option>
            </select>    
          </div>
        </div>
        <div class ="row">
          <div class = "col">
            <input type="submit" value="Submit" />
        </div>
      </form>
      <table class="table mt-5 bg-light">
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Aircraft</th>
            <th>Hours in Air</th>
            <th>Hours on Server</th>
        </tr>
        {% for row in stats %}
        <tr>
          <td>{{ row.name }}</td>
          <td>{{ row.rank }}</td>
          <td>{{ row.aircraft }}</td>
          <td>{{ row.in_air_hours|floatformat:2 }}</td>   
          <td>{{ row.hours_on_server|floatformat:2}} </td>
        </tr>
        {% endfor %}

    </div> <!-- /container -->
  </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
  </div>
</html>
