<!-- pilot_stats.html-->
{% extends "base.html" %}
{% load static %}
{{ log_filter.media }}

{% block navlog %}
      <li class="nav-item active">
{% endblock navlog %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
 $( function() {
    $( "#start_date" ).datepicker();
    $( "#end_date" ).datepicker();
    $( "#mis_date" ).datepicker();
  } );
  </script>
{% endblock %}
{% block bodycss %}
<style>
.page-bg {
  height: 100%;
    /* The image used */
    background-image: url("/static/21stdecknew.png");
    filter: saturate(70%);
    filter: blur(1px);
    /* Full height */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>
{% endblock %}

{% block content %}
<div class='row'>
<div class='col' style="max-width: 600px">
 <div class="card bg-light ml-2 mt-2" style="max-width: 95%;">
  <div class="card-header">
    <a data-toggle="collapse" href=#logfilter aria-expanded="false" aria-controls="collapseExample"><h3>Date Filter</h3></a>
  </div>
  <div class="collapse show" id="logfilter">
    <div class="card-body" style="max-width: 95%;">
  <form action="pilot_log" method="post" style="max-width: 100%">
    <table class="table table-responsive bg-light text-left" style="width: 400px;">
      {% csrf_token %}
      {{ log_filter.as_table }}
    </table>
     <button class="btn btn-dark btn-block" type="submit" name="Submit">Submit</button>
  </form>
</div>
</div>
</div>
 <div class="card bg-light ml-2" style="max-width: 95%;">
  <div class="card-header">
    <a data-toggle="collapse" href=#mis_form aria-expanded="false" aria-controls="collapseExample"><h3>Manual Log Entry</h3></a>
  </div>
  <div class="collapse" id="mis_form">
    <div class="card-body" style="max-width: 95%;">
  <form action="new_log" method="post" style="max-width: 100%">
    <table class="table table-responsive bg-light text-left" style="width: 400px;">
      {% csrf_token %}
      {{ mis_form.as_table }}
    </table>
     <button class="btn btn-dark btn-block" type="submit" name="Submit">Create Entry</button>
  </form>
</div>
</div>
</div>
</div>
<div class='col'>
  <div class="card bg-light mt-2 ml-2" style="max-width: 95%;">
    <div class="card-header">
      <h2>Logbook Entries</h2>
    </div>
    <div class="table-sm table-hover table-striped bg-light table-responsive mx-auto mt-5 mb-5" style="max-width: 90%">
      <table id="logs" class="table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Rank</th>
              <th>Aircraft</th>
              <th>Mission</th>
              <th>Date</th>
              <th>Hours in Air</th>
              <th>Hours on Server</th>
              <th>Ground Kills</th>
              <th>Air Kills</th>
              <th>Ship Kills</th>
              <th>Landings</th>
              <th>Traps</th>
              <th>AARs</th>
              <th>Status</th>
          </tr>
        </thead>
          <tbody>
          {% for row in logs %}
          {% if row.new %}
          <tr class="table-danger">
          {% else %}
          <tr>
            {% endif %}
            <td>{{ row.pilot.user.first_name}} "{{ row.pilot.callsign }}" {{ row.pilot.user.last_name}}</td>
            <td>{{ row.pilot.user.userprofile.rank_id }}</td>
            <td>{{ row.aircraft }}</td>
            <td><a href='log_entry?stat={{row.pk}}'>{{ row.mission.name }}</a></td>
            <td>{{ row.mission.date|date:'Y-m-d H:i e' }}</td>
            <td>{{ row.in_air_hours|floatformat:2 }}</td>   
            <td>{{ row.hours_on_server|floatformat:2}} </td>
            <td>{{ row.ground_kills}}</td>
            <td>{{ row.aircraft_kills }}</td>
            <td>{{ row.ship_kills }}</td>
            <td>{{ row.landings }}</td>
            <td>{{ row.traps }}</td>
            <td>{{ row.aar }}</td>
            {% if row.new %}
            <td><a href='log_entry?stat={{row.pk}}'>Unlogged</a></td>
            {% else %}
            <td><a href='log_entry?stat={{row.pk}}'>Logged</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
     </table>
   </div>
    </div>
</div>
</div>
<div class='row'>
<br>
</div>
<script>
$(document).ready( function () {
    $('#logs').DataTable( {
      "searching": false
    } );
} );
</script>
{% endblock %}
